<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>

  <nav class="nav-bar">
    <a href='/users/login'>
      <h2>Login</h2>
    </a>
    <a href='/users/signup'>
      <h2>Sign Up</h2>
    </a>
  </nav>

</body>

</html>